body {
  font-family: "Arial, sans-serif";
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: #f0f0f0;
}

.rolodex-card {
  border: 1.25rem solid #d0e8f2;
  padding: 0.625rem;
  box-sizing: border-box;
  background-color: #ffffff;
  display: flex;
  flex-wrap: wrap;
  max-width: 100%;
  box-sizing: border-box;
}
.rolodex-card .left-column {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1.25rem;
  flex: 1;
  min-width: 12.5rem;
  box-sizing: border-box;
}
.rolodex-card .left-column .profile-picture {
  border-radius: 50%;
  width: 8rem;
  height: 8rem;
  margin-bottom: 0.625rem;
}
.rolodex-card .left-column .header-info {
  text-align: center;
}
.rolodex-card .left-column .header-info h2 {
  margin: 0;
  font-size: 1.25rem;
  color: #333333;
}
.rolodex-card .left-column .header-info h3 {
  margin: 0;
  font-size: 0.8rem;
  font-style: italic;
  color: #666666;
}
.rolodex-card .right-column {
  flex: 2;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1.25rem;
  min-width: 18.75rem;
  box-sizing: border-box;
}
.rolodex-card .right-column .info-box {
  background-color: #f9f9f9;
  padding: 1.25rem;
  border-radius: 0.625rem;
  width: 100%;
  box-sizing: border-box;
}
.rolodex-card .right-column .info-box p {
  margin: 0.625rem 0;
  display: flex;
  align-items: center;
}
.rolodex-card .right-column .info-box p .linkedin-icon {
  width: 1rem;
  height: 1rem;
  margin-right: 0.313rem;
}
.rolodex-card .right-column .info-box p a {
  color: #3498db;
  text-decoration: none;
}
.rolodex-card .right-column .info-box p a:hover {
  text-decoration: underline;
}

@media (max-width: 600px) {
  .rolodex-card {
    flex-direction: column;
    width: 100%;
    padding: 0;
  }
  .rolodex-card .left-column,
  .rolodex-card .right-column {
    width: 100%;
    padding: 0.625rem;
    box-sizing: border-box;
  }
  .rolodex-card .right-column .info-box {
    text-align: center;
    padding: 0.625rem;
    box-sizing: border-box;
  }
}