* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

Html {
    Scroll-behavior: smooth;
 }

body {
    font-family: "Cormorant Garamond", serif;
    font-weight: 500;
    font-style: normal;
}

h1, h2, h3, h4, h5, h6 {
    color: #0a3c60;
}

p {
    color: #3d3d3d;
} 

.content-container {
    padding-left: 3rem;
    padding-right: 3rem;
}


/* banner styles */
.banner {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: relative;
    background-image: url("../images/header-image.jpg");  
    background-size: cover;
    width: 100%;
    height: 15rem; 
    padding: 1.25rem;
}
.banner-logo {
    height: 4.7rem;
    width: auto;
    margin-top: 1.25rem;
    margin-left: 1.25rem;
}
.headline {
    font-family: "Playfair Display", serif;
    font-size: 1.3rem;
    color: #81b640;
    font-weight: bold;
    font-style: italic;
    margin-top: 0;
    margin-left: 1.25rem;
}

/* shopping cart */
.cart {
    position: absolute;
    height: 3rem;
    top: 1.25rem;
    right: 1.25rem;
    text-align: right;
}
.cart-content {
    display: flex;
    align-items: center;
    margin-bottom: 0.3rem;
}
.cart-icon {
    margin-right: 0.3rem;
    margin-bottom: 0.3rem;
}
.cart-amount {
    color: #FFFFFF;
    margin-right: 1.25rem;
}
.button.checkout {
    background-color: #81b640;
    font-size: small;
    color: #FFFFFF;
    text-decoration: none;
    margin-top: 0.6rem;
    margin-right: 1.25rem;
    margin-bottom: 0.6rem;
    padding: 0.3rem 1rem;
}


/* top navigation menu */
.nav-container {
    background-color: #ececec;
    padding: 0.6rem 0;
}
.nav-menu {
    margin-left: 5rem;
    text-align: left;
}
.nav-menu ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: inline-flex;
    gap: 1rem;
}
.nav-menu ul li {
    margin: 0;
}
.nav-menu ul li a {
    text-decoration: none;
    color: #0a3c60;
    font-weight: bold;
}
.nav-menu ul li a:hover {
    text-decoration: underline;
}
.nav-menu ul li::after {
    content: "/";
    margin-left: 1.25rem;
}
.nav-menu ul li:last-child::after {
    content: none;
}


/* intro section styles */
.intro-section {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 1.25rem;
}
.intro-image {
    max-width: 30%;
    height: auto;
    margin-right: 1.25rem; 
}

.intro-text {
    max-width: 50%;
    flex: 1;
    padding-left: 1.25rem;
}
.intro-heading {
    font-size: 2rem;
    margin-bottom: 0.6rem;
}
.intro-text p {
    font-size: 1rem;
    line-height: 1.5;
}
.more-dogs-heading {
    margin-left: 1.25rem;
    margin-top: 1.25rem;
}
.blog-heading {
    margin-left: 1.25rem;
    margin-top: 1.25rem;
}
.contact-heading {
    margin-left: 1.25rem;
    margin-top: 1.25rem;
}
.checkout-heading {
    margin-top: 1.25rem;
}

/* dog cards styles */
.dog-cards-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr); 
    gap: 1.25rem; 
    padding: 1.25rem;
}
.dog-card {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    background-color: #FFFFFF;
    border: 1px solid #ddd;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}
.dog-image {
    width: 100%;
    height: auto;
    border-bottom: 1px solid #ddd;
}
.dog-card h2 {
    width: 100%;
    font-size: 1.5rem;
    text-align: left;
    padding-left: 0.6rem;
    padding-right: 0.6rem;
    margin: 0.3rem 0;
}
.dog-card p {
    font-size: 1rem;
    color: #3d3d3d;
    margin: 0.3rem 0;
    width: 100%;
    text-align: left;
    padding-left: 0.6rem;
    padding-right: 0.6rem;
    margin-bottom: 0;
}
.button {
    background-color: #81b640;
    color: #FFFFFF;
    font-size: 1rem;
    text-decoration: none;
    cursor: pointer;
    margin-top: 0.6rem;
    padding: 0.6rem 1.25rem;

}
.button:hover {
    background-color: #218838;
}
.adopt {
    text-align: center;
    width: 100%;
}


/* see more dogs button styles */
.more-dogs-container {
    display: flex;
    justify-content: center;
    padding: 1.25rem;
    border-radius: 2px;
}
.more-dogs {
    background-color: #ececec !important; 
    color: #0a3c60 !important;
    font-weight: 700;
    padding: 0.6rem 1.25rem;
}
.more-dogs:hover {
    background-color: gray !important;
}


/* general checkout form styles */
h2 {
    margin-bottom: 0.3rem;
}
.form-group {
    margin-bottom: 0.9rem;
}
.form-group label {
    display: block;
    font-size: 1.5rem;
    font-weight: bold;
}
.form-group input,
.form-group textarea,
.form-group select {
    width: 95%;
    height: 3rem;
    border: 1px solid #ccc;
    font-size: 1rem;
}
.form-inline {
    display: flex;
    justify-content: space-between;
}
.form-inline .form-group {
    flex: 1;
}
.form-inline .form-group input,
.form-inline .form-group select {
    width: 80%;
}
label {
    margin-bottom: 0.6rem;
}


/* radio button styles */
input[type="radio"] {
    width: auto;
    margin-right: 0.3rem;
    margin-left: 0.3rem;
    vertical-align: middle;
}
.radio-group {
    display: flex;
    align-items: center;
}
.radio-group label {
    margin-right: 1.6rem;
    color: #3d3d3d;
}


/* adoption submit button styles */
.submit-button-container {
    padding-top: 0; 
    padding-bottom: 1.25rem;
}
.button {
    font-size: 1rem;
    border: none;
    background-color: #81b640;
    color: #FFFFFF;
    font-weight: bold;
    cursor: pointer;
    border-radius: 2px;
    padding-left: 5rem;
    padding-right: 5rem;
}
.button:hover {
    background-color: #45a049;
}


/* adopted dog styles */
.adopted-dogs {
    display: flex;
    flex-wrap: wrap;
    gap: 1.25rem;
}
.adopted-dog-info {
    display: flex;
    align-items: center;
    gap: 1.25rem;
    width: calc(40% - 0.6rem);
}
.dog-details {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.dog-name {
    margin: 0;
    font-size: 1.2rem
}
.adoption-cost {
    margin: 0;
    font-size: 1rem;
    color: #3d3d3d
}
.total-cost {
    color: #3d3d3d;
    font-size: 1.2rem;
    margin-top: 0;
}
.total-adoption-cost {
    margin-top: 1.6rem;
}
.total-adoption-cost {
    margin-bottom: 0;
}

/* contact page styles */
.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 1.25rem;
}
.column {
    flex: 1 1 100%;
    padding: 1.25rem;
}
.contact-info {
    text-align: left;
}
.contact-info img {
    max-width: 100%;
    height: auto;
    margin-bottom: 1.25rem;
}
.contact-info a {
    display: block;
    margin: 0.6rem 0;
    color: #0a3c60;
    text-decoration: none;
    font-weight: bold;
}
.contact-info a:hover {
    text-decoration: underline;
}
label {
    display: block;
    margin-bottom: 0.3rem;
}
input, textarea, select {
    width: 95%;
    padding: 0.6rem;
    margin-top: 0.3rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1rem;
}
button {
    padding: 1.2rem 1.2rem;
    background-color: #81b640;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1rem;
}
button:hover {
    background-color: #218838;
}
fieldset {
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 0.3rem;
    margin-bottom: 1rem;
}
legend {
    font-weight: bold;
}

/* checkbox styles */
.checkbox-group {
    display: flex;
    align-items: center;
    margin-bottom: 0.9rem;
}
.checkbox-group input {
    margin-right: 0.6rem;
    width: auto;
    height: auto;
}
.checkbox-group label {
    margin: 0;
}

/* footer styles */
.footer-banner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 15rem; 
    padding: 1.25rem;
    background-color: #0a3c60; 
}
.footer-banner p {
    color: #FFFFFF;
}
.footer-logo {
    height: 4.6rem;
    width: auto;
    margin-top: 1.25rem;
}
.footer-text {
    text-align: center; 
    font-size: small; 
    color: #FFFFFF; 
}
.footer-menu ul {
    display: inline-flex;
    justify-content: center; 
    list-style-type: none;
    padding: 0;
    margin: 0;
    gap: 1.25rem;
}
.footer-menu ul li a {
    text-decoration: none;
    color: #FFFFFF; 
}
.footer-menu a:hover {
    text-decoration: underline;
}
.footer-menu ul li::after {
    content: "/";
    margin-left: 1.25rem;
}
.footer-menu ul li:last-child::after {
    content: none;
}


/* responsive design */
@media (max-width: 768px) {
    .intro-section {
        flex-direction: column;
        text-align: center; 
    }
    .intro-image {
        max-width: 100%; 
        margin-right: 0; 
        margin-bottom: 1.25rem; 
    }
    .intro-text {
        max-width: 100%; 
    }

}
@media (max-width: 768px) {
    .form-inline {
        flex-direction: column;
    }
    .form-group input,
    .form-group select {
        width: 100%;
    }
    .adopted-dog-info {
        width: 100%;
    }
    .button {
        width: 100%;
    }
    input[type="radio"] {
        width: auto;
        height: auto;
    }
}

@media (min-width: 768px) {
    .column {
        flex: 1 1 45%;
    }
}
@media (max-width: 1200px) {
    .dog-cards-container {
        grid-template-columns: repeat(3, 1fr); 
    }
}
@media (max-width: 768px) {
    .dog-cards-container {
        grid-template-columns: repeat(2, 1fr); 
    }
}
@media (max-width: 480px) {
    .dog-cards-container {
        grid-template-columns: 1fr; 
    }
}
